:root {
    --kyogre: #194E8A;
    --deepsea: #4b8eda;
    --miku: #4ECDC4;
    --latte: #d6c898;
    --espresso: #685927;
    --latias: #FF6B6B;
    --black: #000000;
    --smoke: #807f7f80;
    --deepsmoke: #807f7fbb;
    --lugia: #dddddd;
    --jade: #640377;
    --text: #ec98e1;
    --emerald: #19bb98;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: black;
    transition: ease-in-out 0.2s;
    font-weight: bold;
}

a:hover {
    color: aqua;
}


/* h1, h2, h3, p{
    margin: auto;
    margin-bottom: 10px;
} */



.footer {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 47%;
    bottom: 0;
    animation: fadeIn 1s;
}

.navbar {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 25%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 5px auto 0;
    border: solid 2px;
    border-radius: 8px;
    font-size: .9vw;
    width: 50%;
    animation: fadeIn 1s;
    background-color: white;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    animation: fadeIn 2s;
    height: 100vh
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: Helvetica;
    height: 100vh;
    margin: 0 15%;
    animation: fadeIn 2s;
}

.resume {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: Helvetica;
    height: 100vh;
    margin: 0 5%;
    animation: fadeIn 2s;
}

#resume {
    height: 80vh;
    width: 100vh;
    border-radius: 10px;
}

.nav-link {
    margin: 10px;
}

.portfolio-container {
    display: flex;
    max-width: 100vw;
    flex-wrap: wrap;
    margin: auto;
    animation: fadeIn 2s;
}

.project-card {
    flex: 1 0 50%;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid 3px;
    border-radius: 8px;
    margin: 4.8%;
    max-width: 40%;
    transition: ease-in-out .3s;
    position: relative;
}

.project-card img{
    width: 100%;
    height: 100%;
    transition: ease-in-out .3s;
}

.project-card:hover img{
    filter: blur(7px);
    opacity: .4;
}

.project-links{
    padding-top: 15vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: ease-in-out 0.4s;
}

.project-card:hover .project-links{
    filter: blur(0px);
    opacity: 1;
}

.project-card:hover .project-links #github-repo{
    filter: blur(0px);
    opacity: 1;
}

#github-repo{
    width: 30px;
    height: 30px;
}

.project-card:hover .project-links #github-repo:hover{
    opacity: 0.5;
}

.contact-window {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    animation: fadeIn 2s;
    flex-direction: column;
}

.contact-card {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid 3px;
    border-radius: 8px;
    margin: 20px auto;
    background-color: white;
}

.contact-card p {
    margin: 5px;
}

.contact-form label,
.contact-form input,
.contact-form textarea,
.contact-form button{
    margin: 5px;
}

.contact-form textarea{
    width: 15vw;
    height: 20vh;
}

.contact-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid 3px;
    border-radius: 8px;
    margin: 20px auto;
    background-color: white;
    width: 20vw;
}

.btn {
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    outline: none;
    color: white;
    background-color: black;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: black;
}

#linkedin,
#email,
#phone,
#github,
#stackoverflow {
    width: 30px;
    transition: ease-in-out .2s;
    margin: 5px;
}

#linkedin:hover,
#email:hover,
#phone:hover,
#github:hover,
#stackoverflow:hover {
    opacity: 0.5;
}

#zach-pic {
    width: 15%;
}

.error {
    color: red;
  }

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}